* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(background.png);
  background-size: 100%;
  font-family: Georgia;
}

#backphoto{
 background: url(image/back2.jpg);
 background-size: 100%;     

}

header {
  margin-top: 15px;
  margin-left: 180px;
  width: 76%;
  padding:2em 2em 2em 3em 0;
  background: #FFFFFF;
  float: right;
  position:absolute  ;
  border-radius: 35px;
  box-shadow: 10px 5px 12px 5px #accbfdd9;
}

.about a {
  text-decoration: none;
  padding:0px 10px;
  font-family: Calibri;
  font-weight: lighter;
  width: 80px;
  color: #002C73;
  text-align: center;
  font-size: 20px;
  line-height:50px; 
  display: block; 
  transition: all 0.3s 0.01s ease; 
  float: right;
  margin-right: 0;
}

.about a:hover {
  background:rgb(162, 186, 229);
  color: #fcff4f;
  border-radius: 25px;
}

.about{
  float: right;
 margin-right: 50px;
 
}

.loginbutton{
  float: right;
  margin-right: 50px;
  background-color: #eef2fa;
  margin-top: 8px;
  border-radius: 15px;
  box-shadow: 1px 3px 10px 1px #97baf1cb;
}

.loginbutton a {
  text-decoration: none;
  padding:0px 10px;
  font-family: Calibri;
  font-weight: lighter;
  width: 80px;
  color: #002C73;
  text-align: center;
  font-size: 20px;
  line-height:35px; 
  display: block; 
  transition: all 0.3s 0.01s ease; 
  float: right;
  margin-right: 0;
}

.loginbutton a:hover {
  background:rgb(162, 186, 229);
  color: #fcff4f;
  border-radius: 15px;
}

.loginbuttonbox {
  background-color: #fcff4f;
}

.logo {
  float: left;
  margin-left: 20px;
  font-size: 30px;
  color: #002C73;
  font-family: Inknut Antiqua;
  font-weight: Bold;
  transition: all 0.3s 0.01s ease;  
}

.logo a {
  text-decoration: none;
  padding:0px 1px;
  font-family: Inknut Antiqua;
  font-weight: Bold;
  width: 250px;
  color: #002C73;
  text-align: center;
  font-size: 30px;
  line-height:50px; 
  display: block; 
  transition: all 0.3s 0.01s ease; 
  float: left;
}


#top {
  height: 190px;
  width: 800px;
  text-align: center;
  margin: 0 auto;

  table-layout: fixed;
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  vertical-align: top;
  background-color: #FFFFFF;
  border-radius: 40px;
  box-shadow: 10px 5px 12px 5px #accbfd97;
  }
  
  
  #top h1 {
    text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 35px;
 color: #002C73;
 font-family: IM FELL French Canon;
 font-weight: bold;
  }
  
  #top h3 {
       font-size: 25px;
       padding-top: 15px;
       padding-right: 1em;
       padding-bottom: 10px;
       margin-right: 5em;
       color: #002C73;
       font-family: Inter;
       font-weight: normal;
       width: 1090px;
       border-radius: 20px;
  }


  h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: px;
    font-size: 35px;

  }

  .click2 {
    text-align: center;
    margin-right: px;
    width: 80px;
    background-color: #eef2fa;
    border-radius: 25px;
    padding: 7px 20px 7px 20px;
    margin: 10px auto;
    box-shadow: 1px 3px 10px 1px #97baf1cb;
  }
  
  .click2 a:hover {
    background:rgba(162, 185, 229, 0.805);
    box-shadow: 1px 1px 15px 2px rgb(162, 186, 229);
      color: #fcff4f;
      padding: 12px 20px 12px 20px;
      border-radius: 25px;
  }
  
  #top h5 {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #002C73;
    font-family: Inter;
    font-weight: normal;
}


#main{
  height: 450px;
  margin-left: 55px;
  width: 92%;
}

#main table{
  font-size: 30px;
       padding-top: 100px;
       padding-left: 5em;
       padding-right: 4em;
       color: #002C73;;
       
}

#main th {
  table-layout: fixed;
  font-family: Inter;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  vertical-align: top;
  padding: 2em;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 40px;
  box-shadow: 10px 5px 12px 5px #accbfd97;
}

.click1 {
  text-align: center;
  margin-right: 50px;
  width: 80px;
  background-color: #eef2fa;
  margin-top: px;
  border-radius: 25px;
  padding: 7px;
  margin: 10px auto;
  box-shadow: 1px 3px 10px 1px #97baf1cb;
}

.click1 a:hover {
  background:rgba(162, 185, 229, 0.805);
  box-shadow: 1px 1px 15px 2px rgb(162, 186, 229);
    color: #fcff4f;
    padding: 11px 23px 11px 23px;
    border-radius: 25px;
}





#main td {
  font-family: Inter;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  padding: 25px;
  color: rgba(240, 248, 255, 0);
}



footer {
  background: linear-gradient(#86A7E7, #6B8CCD);
  padding: 3px;
  position: fixed;
  bottom: 15px;

  margin-left: 190px;
  width: 75%;
  background: #FFFFFF;
  float: right;
  position:absolute  ;
  border-radius: 35px;
  box-shadow: 10px 5px 12px 5px #accbfdd9;
}


.aboutfooter a {
  text-decoration: none;
  padding:3px 10px;
  font-family: Calibri;
  font-weight: lighter;
  width: 40px;
  margin-left: 10px;
  color: #002C73;
  text-align: center;
  font-size: 20px;
  line-height:20px; 
  display: block; 
  transition: all 0.3s 0.01s ease; 
  float: right;
}

.aboutfooter a:hover {
  background:rgb(162, 186, 229);
  color: #fcff4f;
  border-radius: 25px;
}

.aboutfooter{
  float: right;
 margin-right: 50px;
 
}




#loginmain {
  height: 420px;
  width: 700px;
  margin: 150px auto;
  text-align: center;
  table-layout: fixed;
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  vertical-align: top;
  background-color: #FFFFFF;
  border-radius: 40px;
  box-shadow: 10px 5px 12px 5px #accbfd97;
  }
  
  
  #loginmain h1 {
    text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 35px;
 color: #002C73;
 font-family: IM FELL French Canon;
 font-weight: bold;
  }

  
  .click3 {
    text-align: left;
    width: 600px;
    background-color: #eef2fa;
    color: #002c739c;;
    border-radius: 25px;
    padding: 7px 20px 7px 20px;
    margin: 10px 30px 15px auto;
    box-shadow: 1px 3px 10px 1px #97baf1cb;
  }
  
  
  .click4 {
    float: left;
    text-align: center;
    margin-right: px;
    width: 80px;
    background-color: #eef2fa;
    border-radius: 25px;
    padding: 7px 20px 7px 20px;
    margin: 10px 0px 15px 45px;
    box-shadow: 1px 3px 10px 1px #97baf1cb;
  }
  
  .click4 a:hover {
    background:rgba(162, 185, 229, 0.805);
    box-shadow: 1px 1px 15px 2px rgb(162, 186, 229);
      color: #fcff4f;
      padding: 12px 20px 12px 20px;
      border-radius: 25px;
  }

  
  .click5 {
    float: right;
    text-align: center;
    margin-right: px;
    width: 80px;
    background-color: #eef2fa;
    border-radius: 25px;
    padding: 7px 20px 7px 20px;
    margin: 10px auto;
    box-shadow: 1px 3px 10px 1px #97baf1cb;
  }
  
  .click5 a:hover {
    background:rgba(162, 185, 229, 0.805);
    box-shadow: 1px 1px 15px 2px rgb(162, 186, 229);
      color: #fcff4f;
      padding: 12px 20px 12px 20px;
      border-radius: 25px;
  }

  #loginmain h4 {
    font-size: 25px;
    margin-left: 32px;
    text-align: left;
    line-height: 120%;
    color: #002C73;
    font-family: IM FELL French Canon;
    font-weight: normal;
}
  
  #loginmain h5 {
    font-size: 15px;
    line-height: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #002c739c;
    font-family: Inter;
    font-weight: normal;
}

