{% extends 'base.html' %}

{% block title %}
    About-us
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-9 m-auto h-100 text-center p-4 rounded-section">
                <br>
                <h1>About us</h1>
                <p>MT-2003</p> 
                <p>Baktybay A., Makhambetova A., Li A.</p>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

    <br>
{% endblock %}
