{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-9 m-auto h-100 text-center p-4 rounded-section">
                <br>
                <h1>{{ news.title}}</h1>
                <p>{{ news.text }}</p>
                <br>
                <br>
                <div class="click1"><a href="/news">back</a></div>
            </div>
        </div>
        <br>
        <br>
        <br>
{% endblock %}